@page
@model RazorMessageWall.Pages.MessageWallModel
@{
    ViewData["Title"] = "MessageWall";
}
<h1>Message Wall</h1>
<form method="post">
    <div class= "form-group">
        @for (int i = 0; i < Model.FullNames.Count; i++)
        {
            <input type="hidden" asp-for="FullNames[i]" />
        }
        <input asp-for="FirstName" type = "text" placeholder="Type your First Name" />
        <input asp-for="LastName" type="text" placeholder="Type your Last Name" />
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>

@foreach(var fullName in Model.FullNames)
{
    <h3>Hi @fullName</h3>
}